 <section class="admin-content">
    <div class="bg-dark">
        <div class="container  m-b-30">
            <div class="row">
                <div class="col-12 text-white p-t-40 p-b-90">

                    <h4 class="">
                        Leaves
                     </h4>

                </div>
            </div>
        </div>
    </div>

    <div class="container  pull-up">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive p-t-10">
                            <table id="view-all-leaves" class="table" style="width:100%"  >
                                <thead>
                                <tr>
                                    <th>SrNo</th>
                                    <th>Leave Reason</th>
                                    <th>Leave Type</th>
                                    <th>Date From</th>
                                    <th>Date To</th>
                                    <th>Approval_status</th>
                                    <th>Approval</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!-- <div *ngFor='let row of rows; index as i;'> -->
                                <tr *ngFor="let row of rows | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
                                    <td>{{(((p-1)*itemsPerPage) + (i+1))}}</td>
                                    <td>{{ row.leaveReason }}</td>
                                    <td>{{ row.leaveType }}</td>
                                    <td>{{ row.startDate }}</td>
                                    <td>{{ row.endDate }}</td>
                                    <td class="approval">{{ row.is_approved }}</td>
                                    <td><i class="mdi mdi-checkbox-marked-circle isApproved" 
                                        style="font-size:22px" (click) ='isApproved(row._id, i)' ></i> 
                                </tr>
                            </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
