<div id="menu-wrapper">
  <div id="menu">
    <ul>
      <li class="current_page_item"><a href="http://localhost:4200/home">Homepage</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="https://www.google.com/search?q=Images+of+nature&rlz=1C1GCEU_enIN889IN889&sxsrf=ALeKk00HQw7ZGV0vuEQ38QpaTY7FBEMmfA:1603190869835&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi5xray_8LsAhUW_XMBHdc1Bd4Q_AUoAXoECA0QAw&biw=1440&bih=757">Photos</a></li>
      <li><a href="http://localhost:4200/about">About</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="http://localhost:4200/contact">Contact</a></li>
    </ul>
  </div>
  <!-- end #menu --> 
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">StampALike</a></h1>
			<p>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></p>
		</div>
	</div>
</div>
<!-- <app-todo></app-todo> -->

<router-outlet></router-outlet>