
<section class="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-t-20">
                <h1 class="fw-300">Analytics</h1>
            </div>
            <div class="col-12 m-t-20">
                <h5> <i class="fe fe-activity"></i> Overview</h5>
            </div>
            <div class="col-md-12">
                <div class="card m-b-30">
                  <div class="card-body">
                      <div class="apexcharts-canvas" id="chart-06"></div>
                  </div>
                </div>
            </div>
        </div>

        </div>
    </section>
   
        