    <!--sidebar Begins-->
    <aside class="admin-sidebar">
      <div class="admin-sidebar-brand">
        <!-- begin sidebar branding-->
        <img class="admin-brand-logo" src="assets/img/logo.svg" width="40" alt="atmos Logo">
        <span class="admin-brand-content"><a href="#">  APP</a></span>
        <!-- end sidebar branding-->
        <div class="ml-auto">
          <!-- sidebar pin-->
          <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
          <!-- sidebar close for mobile device-->
          <a href="#" class="admin-close-sidebar"></a>
        </div>
      </div>
      <div class="admin-sidebar-wrapper js-scrollbar">
        <!-- Menu List Begins-->
        <ul class="menu">
          <!--list item begins-->
          <li class="menu-item active">
            <a href="dashboard" class="menu-link">
            <span class="menu-label">
            <span class="menu-name">Dashboard
            </span>
            </span>
            <span class="menu-icon">
            <span class="icon-badge badge-success badge badge-pill">1</span>
            <i class="icon-placeholder mdi mdi-link-variant "></i>
            </span>
            </a>
          </li>
          <!--list item ends-->
          <!--list item begins-->
          <li class="menu-item ">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">Create_user
            <span class="menu-arrow"></span>
            </span>
            <span class="menu-info">Contains submenu</span>
            </span>
            <span class="menu-icon">
            <i class="icon-placeholder mdi mdi-link-variant "></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="create-user" class=" menu-link">
                <span class="menu-label">
                <span class="menu-name">Add New User</span>
                </span>
                <span class="menu-icon">
                <i class="icon-placeholder  ">
                L
                </i>
                </span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#" class=" menu-link">
                <span class="menu-label">
                <span class="menu-name">Menu Level 1.1</span>
                </span>
                <span class="menu-icon">
                <i class="icon-placeholder  ">
                L
                </i>
                </span>
                </a>
              </li>
            </ul>
          </li>
          <!--list item ends-->
          <!--list item begins-->
          <li class="menu-item ">
            <a href="#" class="open-dropdown menu-link">
            <span class="menu-label">
            <span class="menu-name">Menu Level 2
            <span class="menu-arrow"></span>
            </span>
            <span class="menu-info">Contains submenu</span>
            </span>
            <span class="menu-icon">
            <i class="icon-placeholder mdi mdi-link-variant "></i>
            </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#" class=" menu-link">
                <span class="menu-label">
                <span class="menu-name">Menu Level 1.1</span>
                </span>
                <span class="menu-icon">
                <i class="icon-placeholder  ">
                L
                </i>
                </span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                <span class="menu-name">Menu Level 1.1
                <span class="menu-arrow"></span>
                </span>
                </span>
                <span class="menu-icon">
                <i class="icon-placeholder mdi mdi-link-variant "></i>
                </span>
                </a>
                <!--submenu-->
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="#" class=" menu-link">
                    <span class="menu-label">
                    <span class="menu-name">Menu Level 2.1 </span>
                    </span>
                    <span class="menu-icon">
                    <i class="icon-placeholder  ">
                    L
                    </i>
                    </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!--list item ends-->
        </ul>
        <!-- Menu List Ends-->
      </div>
    </aside>
    <!--sidebar Ends-->
    <main class="admin-main">
      <!--site header begins-->
      <header class="admin-header">
        <nav class=" mr-auto my-auto">
          <ul class="nav align-items-center">
            <li class="nav-item">
              <a class="nav-link  " data-target="#siteSearchModal" data-toggle="modal" href="#">
              <i class=" mdi mdi-magnify mdi-24px align-middle"></i>
              </a>
            </li>
          </ul>
        </nav>
        
        <nav class=" ml-auto">
          <ul class="nav align-items-center">
            
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#"   role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-sm avatar-online">
                  <span class="avatar-title rounded-circle bg-dark">H</span>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right"   >
                <a class="dropdown-item" href="#"> Add Account
                </a>
                <a class="dropdown-item" href="#">  Reset Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="javascript:void(0);"  (click)="logoutUser()" > Logout</a>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <!--site header ends -->    
      <section class="admin-content">
        <!-- BEGIN PlACE PAGE CONTENT HERE -->
        <!--  container or container-fluid as per your need           -->
        <div class="container">
        </div>
        <!-- END PLACE PAGE CONTENT HERE -->
      </section>
    </main>
<section class="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-t-20">
                <h1 class="fw-300">Analytics</h1>
            </div>
            <div class="col-12 m-t-20">
                <h5> <i class="fe fe-activity"></i> Overview</h5>
            </div>
            <div class="col-md-12">
                <div class="card m-b-30">
                  <div class="card-body">
                      <div class="apexcharts-canvas" id="chart-06"></div>
                  </div>
                </div>
            </div>
        </div>

        </div>
    </section>
   
        