<!-- <p>add-leave works!</p> -->
<div class="col-lg-6 main_form">
<div class="card m-b-30">
    <div class="card-header">
        <h5 class="m-b-0">
             Forms
        </h5>
        <p class="m-b-0 text-muted">
            Create User
        </p>
    </div>
<form class="card-body ">
    <div class="form-row">
      <div class="form-group floating-label col-md-12">
            <label >Email</label>
            <!-- <input type="email" required #email ="ngModel" [class.is-invalid]="email.invalid && email.touched" class ="form-control" placeholder="email" [(ngModel)]="userModel.email"  name="email" >
            <small class="text-danger" [class.d-none]="email.valid || email.untouched ">Email is required</small>
            <small class ="text-danger"  *ngIf="emailError[0]">{{emailError}}</small> -->
        </div>
        <!-- <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4"  >
        </div> -->
    </div>
   
    <div class="form-group" id ="submitButton">
        <button type= "submit"  class="btn btn-primary">Submit</button>
        <!-- <p *ngIf="res">{{res}}</p> -->
    </div>
<!-- </div> -->
  </form>
</div>
</div>
