
    <!--sidebar Begins-->
    <aside class="admin-sidebar" *ngIf="router.url !== '/login'  && router.url !== '/random'">
        <div class="admin-sidebar-brand">
          <!-- begin sidebar branding-->
          <img class="admin-brand-logo" src="assets/img/logo.svg" width="40" alt="atmos Logo">
          <span class="admin-brand-content"><a href="#">  APP</a></span>
          <!-- end sidebar branding-->
          <div class="ml-auto">
            <!-- sidebar pin-->
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
            <!-- sidebar close for mobile device-->
            <a href="#" class="admin-close-sidebar"></a>
          </div>
        </div>
        <div class="admin-sidebar-wrapper js-scrollbar">
          <p>{{isUserAdmin}}</p>
          <!-- Menu List Begins-->
        <!-------------------------------- ADMIN SIDEBAR ------------------------------------->
          <ul class="menu" *ngIf="isUserAdmin &&  router.url !== '/create-password/:id'">
          <!-- <ul class="menu" *ngIf="router.url !== '/employee'"> -->
            <!--list item begins-->
            <li class="menu-item active" *ngIf="isUserAdmin &&  router.url !== '/create-password/:id'">
              <a href="dashboard" class="menu-link" >
              <span class="menu-label">
              <span class="menu-name">Dashboard
              </span>
              </span>
              <span class="menu-icon">
              <span class="icon-badge badge-success badge badge-pill">1</span>
              <i class="icon-placeholder mdi mdi-link-variant "></i>
              </span>
              </a>
            </li>
            <!--list item ends-->
            <!--list item begins-->
            <li class="menu-item " *ngIf="isUserAdmin &&  router.url !== '/create-password/:id'">
              <a href="#" class="open-dropdown menu-link">
              <span class="menu-label">
              <span class="menu-name">Add New User
              <span class="menu-arrow"></span>
              </span>
              <span class="menu-info">Contains submenu</span>
              </span>
              <span class="menu-icon">
              <i class="icon-placeholder mdi mdi-link-variant "></i>
              </span>
              </a>
              <!--submenu-->
              <ul class="sub-menu" *ngIf="isUserAdmin &&  router.url !== '/create-password/:id'">
                <li class="menu-item">
                  <a href="create-user"  class=" menu-link">
                  <span class="menu-label">
                  <span class="menu-name">Add New User</span>
                  </span>
                  <span class="menu-icon">
                  <i class="icon-placeholder  ">
                  L
                  </i>
                  </span>
                  </a>
                </li>
                <!-- <li class="menu-item" *ngIf="isUserAdmin">
                  <a href="#" class=" menu-link" *ngIf="isUserAdmin">
                  <span class="menu-label">
                  <span class="menu-name">Menu Level 1.1</span>
                  </span>
                  <span class="menu-icon">
                  <i class="icon-placeholder  ">
                  L
                  </i>
                  </span>
                  </a>
                </li> -->
              </ul>
            </li>
            <!--list item ends-->
            <!--list item begins-->
            <li class="menu-item " *ngIf="isUserAdmin &&  router.url !== '/create-password/:id'">
              <a href="#" class="open-dropdown menu-link">
              <span class="menu-label">
              <span class="menu-name">View Leave
              <span class="menu-arrow"></span>
              </span>
              <span class="menu-info">Contains submenu</span>
              </span>
              <span class="menu-icon">
              <i class="icon-placeholder mdi mdi-link-variant "></i>
              </span>
              </a>
              <!--submenu-->
              <ul class="sub-menu" *ngIf="isUserAdmin &&  router.url !== '/create-password/:id'">
                <li class="menu-item" *ngIf="isUserAdmin">
                  <a href="#" class=" menu-link">
                  <span class="menu-label">
                  <span class="menu-name">View Leave</span>
                  </span>
                  <span class="menu-icon">
                  <i class="icon-placeholder  ">
                  L
                  </i>
                  </span>
                  </a>
                </li>
              </ul>
            </li>
            <!--list item ends-->
          </ul>
          <!------------------------------ EMPLOYEE SIDEBAR -------------------------------------->
          <ul class="menu" *ngIf="!isUserAdmin &&  router.url !== '/create-password/:id'">
            <!--list item begins-->
            <li class="menu-item active" *ngIf="!isUserAdmin &&  router.url !== '/create-password/:id'">
              <a href="employee" class="menu-link" >
              <span class="menu-label">
              <span class="menu-name">Add Leave
              </span>
              </span>
              <span class="menu-icon">
              <span class="icon-badge badge-success badge badge-pill">1</span>
              <i class="icon-placeholder mdi mdi-link-variant "></i>
              </span>
              </a>
            </li>
            <!--list item ends-->
            <!--list item begins-->
            <li class="menu-item " *ngIf="!isUserAdmin &&  router.url !== '/create-password/:id'">
              <a href="#" class="open-dropdown menu-link" >
              <span class="menu-label">
              <span class="menu-name">View Leave
              <span class="menu-arrow"></span>
              </span>
              <span class="menu-info">Contains submenu</span>
              </span>
              <span class="menu-icon">
              <i class="icon-placeholder mdi mdi-link-variant "></i>
              </span>
              </a>
              <!--submenu-->
              <ul class="sub-menu" *ngIf="!isUserAdmin &&  router.url !== '/create-password/:id'">
                <li class="menu-item" *ngIf="!isUserAdmin &&  router.url !== '/create-password/:id'">
                  <a href="view-leave" class=" menu-link"  *ngIf="!isUserAdmin">
                  <span class="menu-label">
                  <span class="menu-name">View Leave</span>
                  </span>
                  <span class="menu-icon">
                  <i class="icon-placeholder  ">
                  L
                  </i>
                  </span>
                  </a>
                </li>
                <!-- <li class="menu-item" *ngIf = "router.url !== '/dashboard'">
                  <a href="viewleave" class=" menu-link" >
                  <span class="menu-label">
                  <span class="menu-name">View Leave</span>
                  </span>
                  <span class="menu-icon">
                  <i class="icon-placeholder  ">
                  L
                  </i>
                  </span>
                  </a>
                </li> -->
              </ul>
            </li>
            <!--list item ends-->
            </ul>
          <!-- Menu List Ends-->

         </div>
         </aside>   
      <router-outlet></router-outlet>
      <!--sidebar Ends-->
      <main class="admin-main" *ngIf="router.url !== '/login' &&  router.url !== '/create-password/:id' && router.url !== '/random'">
        <!--site header begins-->
        <header class="admin-header">
          <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>
          <nav class=" mr-auto my-auto">
            <ul class="nav align-items-center">
              <li class="nav-item">
                 <a class="nav-link  " data-target="#siteSearchModal" data-toggle="modal" href="#">
                <i class=" mdi mdi-magnify mdi-24px align-middle"></i> 
                
                </a>
              </li>
            </ul>
          </nav>
          
          <nav class=" ml-auto">
            <ul class="nav align-items-center">
              
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#"   role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <div class="avatar avatar-sm avatar-online">
                    <span class="avatar-title rounded-circle bg-dark">H</span>
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right"   >
                  <a class="dropdown-item" href="#"> Add Account
                  </a>
                  <a class="dropdown-item" href="#">  Reset Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"   *ngIf="!loggedIn" (click)="logoutUser()" > Logout</a>
                </div>
              </li>
            </ul>
          </nav>
        </header>
        <!--site header ends -->    
        <section class="admin-content">
          <!-- BEGIN PlACE PAGE CONTENT HERE -->
          <!--  container or container-fluid as per your need           -->
          <div class="container">
          </div>
          <!-- END PLACE PAGE CONTENT HERE -->
        </section>
      </main>
  
  
 
  

