<!-- <p>{{tokenID}}</p> -->
<img src ="../../assets/img/logo.png">
<div class = "gfg">Password Link</div> 
		<div class = "setup">Setting up password</div> 
		<form (ngSubmit) = "checkPassword(this)" method="POST" > 
		<table border = "1" align = "center"> 
			<tr> 
				<!-- Enter Password. -->
				<td>Password:</td> 
				<td><input type = "password" required #password ="ngModel" name = "password1" size = "25" [(ngModel)]="userModel.password"></td> 
			</tr> 
			<tr> 
				<!-- To Confirm Password. -->
				<td>Confirm Password:</td> 
				<td><input type = "password"  required #confirm_password ="ngModel" name = "confirm_password" size = "25" [(ngModel)]="userModel.confirm_password"></td> 
			</tr> 
			<tr> 
				<td colspan = "2" align = "right"> 
				<input type = "submit" value = "Submit" method ="SubmitForm()"></td> 
			</tr> 
		</table> 
        </form> 
    