<!-- <p>{{tokenID}}</p> -->
<div class = "gfg">Password Link</div> 
	<div class = "setup">Setting up password</div> 
	<!-- <div>Create again</div> -->
	<div class="card card-password">
		<div class="card-body">			
			<form (ngSubmit) = "checkPassword(this)" method="POST" *ngIf ="!is_expired && !is_used ">
				<div class="form-row center-field">
						<div class="col-md-12">
							<label for="fname">Password:</label><br>
						</div><br>
						<div class="col-md-12">
							<input type = "password" required #password ="ngModel" name = "password1" size = "25" [(ngModel)]="userModel.password">
							<p *ngIf="response">{{response.pass}}</p>
						</div>
				</div>
				<div class="form-row center-field">
						<div class="col-md-12">
							<label for="fname">Confirm Password:</label><br>
						</div>
						<div class="col-md-12">
							<input type = "password"  required #confirm_password ="ngModel" name = "confirm_password" size = "25" [(ngModel)]="userModel.confirm_password">
							<p  *ngIf="response">{{response.confirm_password}}</p>
						</div>
				</div>
				<div class="form-group">
					<div class="col-md-12" style="margin: auto; padding: 10px;text-align: center;">
						<p  *ngIf="response">{{response.all || response.done}}</p>
						<input type = "submit" value = "Submit" method ="SubmitForm()">
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- <form (ngSubmit) = "checkPassword(this)" method="POST" *ngIf ="!is_expired && !is_used " > 
	<table border = "1" align = "center" > 
		<tr> 
			
			<td>Password:</td> 
			<td>
				<input type = "password" required #password ="ngModel" name = "password1" size = "25" [(ngModel)]="userModel.password">
				<p *ngIf="response">{{response.pass}}</p>
			</td> 
		</tr> 
		<tr> 
			
			<td>Confirm Password:</td> 
			<td>
				<input type = "password"  required #confirm_password ="ngModel" name = "confirm_password" size = "25" [(ngModel)]="userModel.confirm_password">
				<p  *ngIf="response">{{response.confirm_password}}</p>
			</td> 
		</tr> 
		<tr> 
			<td colspan = "2" align="center"> 
				<p  *ngIf="response">{{response.all || response.done}}</p>
				<input type = "submit" value = "Submit" method ="SubmitForm()">
			</td> 
		</tr> 
	</table> 
	</form>  -->
    